/*                  GENERAL       */
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}


/*                  HEADER       */

header {
    margin-top: 0;
    margin: 0;
    height: 200px;
    padding-top: 50px;
    
}

#nameAndLogos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: darkgrey;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

/*     welcome to busmall catalog     */
h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;;
    background-color: darkgrey;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0;
    margin-top: 10px;
    height: 30px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#welcomeInfo {
    text-align: center;
    width: 800px;
    color:darkgrey;
    margin: 0 auto;
}
#welcomeInfo p {;
    display: inline;
    font-size: 16px;
}

.headerlogo {
    height: 100px;
    width: 100px;
}

hr {
    background-color: #fff;
	border-top: 2px dotted darkgrey;
    margin: 50px 200px;
}
/*                  VOTING SECTION       */

#form {
    margin: 0 auto;
    border: none;
    display: block;
    position: relative;
    margin-bottom: 100px;
    color: darkgrey;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    font-family: 'Raleway', sans-serif;
}

button {
    background-color:darkgrey;
	outline: none;
	border-radius: 3px;
	padding: 10px 40px;
	color:white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
	margin-top: 50px;
	border:3px solid transparent;
    letter-spacing: 2px;
}
button:hover{
    background-color: rgb(24, 127, 225);
}



/*                  VOTING SECTION       */
img {
    /*display: inline;*/
    /*width: 200px;*/
    width: 300px;
    margin: 20px;
    opacity: .5;
    /*background-color: rgba(0,0,0,.5);*/
    /*border: 3px solid lightgrey;*/
}

main img:hover {
    opacity: 1;
    /*color: rgba(0,0,0,0);*/
    
}

p {
    display: inline-block;
    width: 300px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: darkgrey;
    /*text-transform: capitalize;*/
}

* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

canvas {
    margin: 0 auto;
    margin-top: 100px;
}